/* -------------------layouts------------------- */

.main-layout>*:not(.full) {
    margin: 0 5rem;
}

/* -------------------Media query------------------- */

/* .main-layout>*:not(.full) {
    margin: 0 1.5rem;
} */

/* small */
/* @media (min-width: 780px) {
    .main-layout>*:not(.full) {
        max-width: var(--s);
        margin: 0 auto;
    }
} */

/* medium */
/* @media (min-width: 890px) {
    @media (min-width: 890px) {
        .main-layout>*:not(.full) {
            max-width: var(--m);
        }
    }
} */

/* large */
/* @media (min-width: 1020px) {
    .main-layout>*:not(.full) {
        max-width: var(--l);
    }
} */