/* -------------------- Roboto -------------------- */

@font-face {
    font-family: Roboto-Light;
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Mali-Regular;
    src: url(../../fonts/Mali/Mali-Regular.ttf);
}

@font-face {
    font-family: Mali-ExtraLight;
    src: url(../../fonts/Mali/Mali-ExtraLight.ttf);
}