.app-header {
    background-color: var(--clr0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header .logo {
    color: var(--clr2);
}

nav a {
    margin: 1em;
    text-decoration: none;
    color: var(--clr1);
}

.app-header nav a.active,
.app-header nav a:hover {
    border-bottom: 2px solid var(--clr2);
    padding-bottom: 10px;
}

.app-header .logo {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}